<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="10">
    <test name="ParallelTest">
        <classes>
            <class name="LoginTest"/>

        </classes>
    </test>

    <test name="HomeTest">
        <groups>
            <run>
                <include name="login"/>
                <include name="homeLogout"/>
            </run>
        </groups>
        <classes>
            <class name="LoginTest"/>
            <class name="HomeTest"/>
            <!--            <class name="HomeTest"/>-->
        </classes>
    </test>



</suite>

        <!-- Suite -->

        <!--    -->